
@use "./../globals/index" as *;

.cc-bf-cm-announcement-bar {
    position: fixed !important;
    width: 100%;
    background: #000327;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 90;

    .marquee-slider-wrapper {
        width: 100%;
        height: 80px;
        overflow: hidden;
        position: relative;

        @include breakpoint(768) {
            height: 46px;
        }

        .marquee-slider-item {
            padding: 20px 10px;
            width: 230px;
            height: 100%;
            position: absolute;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            left: max(calc(230px * var(--slider-item)), 100%);
            -webkit-animation-name: scroll-left;
            animation-name: scroll-left;
            -webkit-animation-duration: calc(var(--slider-speed) * var(--slider-item));
            animation-duration: calc(var(--slider-speed) * var(--slider-item));
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-delay: calc((var(--slider-speed) * var(--slider-item)) / var(--slider-item) * (var(--slider-item) - var(--slider-index)) * -1);
            animation-delay: calc((var(--slider-speed) * var(--slider-item)) / var(--slider-item) * (var(--slider-item) - var(--slider-index)) * -1);

            @include breakpoint(768) {
                padding: 10px 5px;
                width: 150px;
                left: max(calc(150px * var(--slider-item)), 100%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    a {
        &:hover {

            .marquee-slider-wrapper {
                .marquee-slider-item {
                    animation-play-state: paused;
                }
            }
        }
    }
}

@keyframes scroll-left {
    to {
        left: -230px;
    }
}