@use "./../globals/index" as *;

// Common button style
.cc-summer-announcement-bar {
    position: fixed !important;
    width: 100%;
    background: #000000;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 90;

    .bar-bg {
        z-index: -1;
        bottom: 0;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .side-bg {
        z-index: 0;
        height: 100%;
        bottom: 0;

        @include breakpoint(1024) {
            filter: opacity(0.5);
        }

        &.left-side-bg {
            left: 5px;
        }

        &.right-side-bg {
            right: 5px;
            transform: rotateY(180deg);
        }
    }

    .campaign-container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        justify-content: space-evenly;
        gap: 10px;

        @include breakpoint(1440) {
            padding: 0 40px;
        }

        @include breakpoint(768) {
            gap: 20px;
            padding-left: 0;
        }

        @include breakpoint(575) {
            gap: 5px;
            padding-right: 20px;
        }

        .cc-offer-amount {
            width: 100%;
            max-width: 500px;
            justify-content: space-between;

            @include breakpoint(1440) {
                justify-content: space-evenly;
            }

            @include breakpoint(768) {
                width: unset;
                max-width: unset;
                gap: 20px;
            }

            .cc-banner-img,
            .offer-img {
                gap: 30px;
                position: relative;

                @include breakpoint(1024) {
                    height: 60px;
                    object-fit: contain;
                    padding: 5px 0;
                }

                @include breakpoint(768) {
                    height: 50px;
                }

                @include breakpoint(575) {
                    height: 38px;
                    padding-left: 5px;
                }

                &::before {
                    height: 60px;
                    aspect-ratio: 1 / 1;
                    z-index: -1;

                    @include breakpoint(1440) {
                        position: absolute;
                        left: -40px;
                        filter: opacity(0.5);
                    }
                }
            }

            .cc-banner-img {
                &::before {
                    content: url("/wp-content/themes/codeconfig/assets/images/summer-offer/ripe-lemon.png");
                    transform: translateY(-35px);
                }

                @include breakpoint(575) {
                    display: none;
                }
            }

            .offer-img {
                &::before {
                    content: url("/wp-content/themes/codeconfig/assets/images/summer-offer/raw-lemon.png");
                    transform: translateY(45px);
                }
            }
        }

        .cc-countdown-wrapper {
            width: clamp(175px, 35vw, 350px);

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 60px;
                aspect-ratio: 1 / 1;
                z-index: -1;

                @include breakpoint(1024) {
                    filter: opacity(0.5);
                }
            }

            &::after {
                background: url("/wp-content/themes/codeconfig/assets/images/summer-offer/ripe-lemon.png");
                right: -30px;
                bottom: -30px;
            }

            &::before {
                background: url("/wp-content/themes/codeconfig/assets/images/summer-offer/raw-lemon.png");
                left: -30px;
                top: -30px;
            }

            .cc-timer {
                gap: 8px;
                border: 1px solid #ffffff;
                background: #ffffff31;
                backdrop-filter: blur(5px);
                padding: 15px;
                border-radius: 16px;
                z-index: 4;

                @include breakpoint(768) {
                    padding: 10px;
                }

                @include breakpoint(575) {
                    padding: 5px;
                    border-radius: 8px;
                }

                .cc-counter-time {
                    position: relative;
                    flex-direction: row;
                    gap: 8px;

                    &:not(:last-child) {
                        &::after {
                            content: ":";
                            font-size: clamp(16px, 2vw, 34px);
                            line-height: 1;
                            font-weight: 600;
                        }
                    }

                    h5 {
                        font-size: clamp(14px, 2vw, 32px);
                        line-height: 1;
                        font-weight: 600;
                        color: #000;
                        margin: 0;

                        &.days {
                            &::after {
                                content: "d";
                            }
                        }

                        &.hours {
                            &::after {
                                content: "h";
                            }
                        }

                        &.minute {
                            &::after {
                                content: "m";
                            }
                        }

                        &.second {
                            &::after {
                                content: "s";
                            }
                        }
                    }

                    span {
                        display: none;
                    }
                }

                h6 {
                    width: max-content;
                    @include font(16, 24);
                    color: #ffffff;
                    margin: 0;
                }
            }
        }

        .cc-offer-purpose {
            width: 100%;
            max-width: 400px;

            @include breakpoint(1440) {
                justify-content: space-evenly;
            }

            @include breakpoint(768) {
                width: unset;
                max-width: unset;
            }

            img {
                max-width: 140px;
                height: 80px;
                object-fit: cover;

                @include breakpoint(1024) {
                    width: 105px;
                    height: 60px;
                }

                @include breakpoint(768) {
                    display: none;
                }
            }

            .cc-banner-button {
                @include font(18, 20);
                color: black;
                background: #f2d23a;
                border-radius: 6px;
                padding: 8px 10px;
                color: #000000;
                border: 1px solid;
                border-color: #f9eba8;
                z-index: 4;
                text-wrap: nowrap;

                @include breakpoint(768) {
                    @include font(14, 16);
                }

                @include breakpoint(575) {
                    @include font(12, 14);
                    padding: 5px;
                }

                &:hover {
                    background: transparent;
                    border-color: #000000;
                }
            }
        }

        .cc-campaign-close {
            position: absolute;
            z-index: 5;
            cursor: pointer;
            right: 10px;
            width: 20px;
            height: 20px;

            @include breakpoint(575) {
                height: 10px;
                width: 10px;
                right: 5px;
            }

            &::after,
            &::before {
                position: absolute;
                content: "";

                width: 100%;
                height: 2px;
                background: red;
                @extend .flex-center, .transition;
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }

            &:hover {

                &::after,
                &::before {
                    box-shadow: 0 0 2px 2px #ffffff;
                }
            }
        }
    }
}