@use "./../globals/index" as *;

.cc-christmas-new-year-announcement-bar {
  position: fixed !important;
  width: 100%;
  padding: 5px 0;
  background: #D70000;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 90;

  .bar-bg {
    z-index: -1;
    bottom: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .side-bg {
    z-index: 0;
    height: 100%;
    bottom: 0;

    @include breakpoint(1024) {
      filter: opacity(0.5);
    }

    &.left-side-bg {
      left: 0;
      transform: rotateY(180deg);
    }

    &.right-side-bg {
      right: 0;
    }
  }

  .campaign-container {
    width: 100%;
    max-width: 970px;
    padding: 0 35px;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: clamp(10px, 3vw, 70px);

    @include breakpoint(575) {
      padding-left: 5px;
    }
    
    .cc-countdown-wrapper {
      width: clamp(175px, 20vw, 240px);


      .cc-timer {

        .cc-counter-time {
            position: relative;
            flex-direction: column;
            gap: 5px;
            padding: 0 clamp(6px, 0.8vw, 10px);

            @include breakpoint(575) {
                gap: 2px;
            }

            &:not(:last-child) {
                border-right: 1px solid #ffffff;
            }

            h5 {
                width: clamp(20px, 3vw, 42px);
                font-family: 'Inter';
                font-size: clamp(16px, 2vw, 30px);
                line-height: 100%;
                font-weight: 700;
                color: #ffffff;
                margin: 0;
            }

            span {
                font-family: 'Inter';
                font-size: clamp(10px, 1.1vw, 12px);
                line-height: 100%;
                font-weight: 500;
                color: #ffffff;
                margin: 0;
            }
        }

      }
    }

    .offer-img {
        width: 100%;
        max-width: clamp(60px, 11vw, 110px);
    }

    .cc-offer-purpose {
        width: 100%;
        max-width: clamp(60px, 11vw, 117px);
        
        @include breakpoint(428) {
            display: none;
        }
    }


    .cc-banner-button {
        font-family: 'Poppins', sans-serif;
        font-size: clamp(12px, 1.5vw, 18px);
        line-height: 100%;
        font-weight: 500;
        text-transform: uppercase;
        color: #C20101;
        background: #fff;
        border-radius: clamp(4px, 0.8vw, 12px);
        padding: clamp(4px, 0.8vw, 12px) clamp(6px, 1.5vw, 24px);
        border: 1px solid #ffffff;
        z-index: 4;
        text-wrap: nowrap;

        &:hover {
            background: #ffffff3d;
            color: #fff;
        }
    }

    .cc-campaign-close {
        position: absolute;
        z-index: 5;
        cursor: pointer;
        right: -160px;
        width: 20px;
        height: 20px;

        @include breakpoint(1440) {
            right: -20px;
        }
        @include breakpoint(1200) {
            right: 10px;
        }
        @include breakpoint(575) {
            height: 14px;
            width: 14px;
        }

        &::after,
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: #ffffff;
            @extend .flex-center, .transition;
        }
        &::after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
        &:hover {
            &::after,
            &::before {
                box-shadow: 0 0 2px 2px #212055;
            }
        }
    }
  }
}