

/* DMSens Font */
@font-face {
  font-family: "DM Sans";
  src: url("DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("DMSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* Square Peg Font */
@font-face {
  font-display: swap;
  font-family: "Square Peg";
  font-style: normal;
  font-weight: 400;
  src: url("SquarePeg-Regular.ttf") format("truetype");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}