@use "./../globals/index" as *;

// Google Drive Product Page //
// Variables //
$ccpigd-primary: #00ac47;
$ccpigd-secondary: #e1f2a6;
$ccpigd-white: #ffffff;
$ccpigd-black: #000000;
$ccpigd-text: #f0fff6b2;
$ccpigd-bg: #00ac470d;
$ccpigd-border: #00ac4733;
$ccpigd-warning: #ff1200;
$ccpigd-common-gradient: linear-gradient(7deg, #00ac47, #e1f2a6);
$ccpigd-primary-radius: 16px;
$ccpigd-secondary-radius: 12px;
$ccpigd-radius-full: 100%;
$ccpigd-radius-zero: 0;
$dms: "DM Sans", sans-serif;
$sp: "Square Peg", sans-serif;


// Essential style start

// Body //
body {
  background: #00130b;
  font-family: $dms;
}

.ccpigd-section {
  margin: 80px 0;

  @include breakpoint(1024) {
    margin: 60px 0;
  }

  @include breakpoint(768) {
    margin: 50px 0;
  }

  p {
    font-size: 16px;
    line-height: 160%;
    color: $ccpigd-text;
    font-family: $dms;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ccpigd-white;
    font-family: $dms;
  }

  span,
  li,
  ol,
  a,
  button,
  input,
  textarea,
  th,
  td {
    font-family: $dms;
  }

  h1,
  h2 {
    font-size: clamp(30px, 4vw, 54px);
    line-height: 120%;
    text-transform: capitalize;
  }

  h3 {
    font-size: clamp(26px, 3.5vw, 44px);
    line-height: 120%;
  }

  h4 {
    font-size: clamp(24px, 3vw, 34px);
    line-height: 120%;
  }

  h5 {
    font-size: clamp(18px, 2vw, 24px);
    line-height: 120%;
  }

  .section-title-box {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-bottom: 20px;

    h1,
    h2,
    h3 {
      span {
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: $ccpigd-common-gradient;
        display: inline-block;
      }
    }

    @include breakpoint(768) {
      padding-bottom: 0;
    }

    p {
      @include font(18, 30);
      color: #EAFFF7;

      @include breakpoint(575) {
        @include font(16, 26);
      }
    }
  }

  .feature-content {
    margin-bottom: 20px;
    
    @include breakpoint(575) {
      margin-bottom: 10px;
    }

    h2,
    h3 {
      font-weight: 600;

      @include breakpoint(575) {
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 20px;

      @include breakpoint(575) {
        margin-bottom: 10px;
      }
    }
    ul,
    ol {
      margin-bottom: 40px;

      @include breakpoint(1024) {
        margin-bottom: 30px;
      }

      @include breakpoint(575) {
        margin-bottom: 20px;
      }
    }

    ul {
      @extend .d-flex, .flex-wrap;
      gap: 12px 8px;

      @include breakpoint(768) {
        justify-content: center;
      }

      li {
        font-size: clamp(13px, 1.5vw, 16px);
        line-height: 100%;
        font-weight: 400;
        color: $ccpigd-white;
      }
    }
  }

  &.ccpigd-section-top {
    padding-top: calc(var(--header-height, 200px) + 50px) !important;

    @include breakpoint(1024) {
      padding-top: calc(var(--header-height, 200px) + 30px) !important;
    }
    &.cc-user-logged-in {
      @include breakpoint(1024) {
        padding-top: calc(var(--header-height, 200px) + 10px) !important;
      }
    }
  }

  // Video iframe style  //
  p:has(iframe) {
    width: 100%;
    position: relative;
    padding-bottom: 56%;
    padding-top: 15px;
    height: 0;
    border-radius: 10px;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 12px;
    }
  }

  // Google Drive button style //
  .ccpigd-btn-group {
    @extend .flex-center, .flex-wrap, .relative;
    gap: 15px 10px;
    z-index: 2;

    @include breakpoint(575) {
      flex-direction: column;
    }
  }
  .ccpigd-btn {
    @extend .flex-center, .transition;
    font-size: clamp(16px, 1.8vw, 20px);
    line-height: 100%;
    font-weight: 500;
    padding: 16px 30px;
    gap: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: $ccpigd-secondary-radius;

    @include breakpoint(1024) {
      padding: 14px 24px;
    }

    @include breakpoint(575) {
      padding: 15px 10px;
      width: 80%;
    }

    &.icon-right {
      flex-direction: row-reverse;
    }

    &.icon {
      @extend .relative;

      &::before {
        content: "";
        width: 18px;
        aspect-ratio: 1;
        @extend .mask-cover, .transition;
      }
    }
    &.icon-wordpress {
      &::before {
        mask: url("../images/google-drive/wordpress.svg");
      }
    }
    &.icon-crown {
      &::before {
        mask: url("../images/google-drive/crown.svg");
      }
    }
    &.icon-shapes {
      &::before {
        mask: url("../images/google-drive/shapes.svg");
      }
    }

    &.primary {
      color: $ccpigd-white;
      background: $ccpigd-primary;
      border-color: $ccpigd-primary;

      &::before {
        background-color: $ccpigd-white;
      }

      &:hover {
        color: $ccpigd-primary;
        background: $ccpigd-bg;
        border-color: $ccpigd-border;

        &::before {
          background-color: $ccpigd-primary;
        }
      }
    }
    &.secondary {
      color: $ccpigd-primary;
      background: $ccpigd-bg;
      border-color: $ccpigd-border;

      &::before {
        background-color: $ccpigd-primary;
      }

      &:hover {
        color: $ccpigd-white;
        background: $ccpigd-primary;
        border-color: $ccpigd-primary;

        &::before {
          background-color: $ccpigd-white;
        }
      }
    }
    &.white {
      color: $ccpigd-white;
      &::before {
        background-color: $ccpigd-white;
      }
    }
  }

  // Google Drive List mark style //
  .ccpigd-list-mark {
    ul {
      padding: 0;

      li {
        list-style: none;
        @extend .flex-center, .relative;
        gap: 6px;
        padding: 8px 10px;
        background: $ccpigd-bg;
        border: 1px solid $ccpigd-border;
        border-radius: $ccpigd-secondary-radius;

        &:before {
          content: "";
          width: 14px;
          height: 14px;
          mask: url(../images/google-drive/ccpigd-list-mark.svg);
          mask-size: cover;
          mask-repeat: no-repeat;
          mask-position: center;
          background: $ccpigd-white;
        }
      }
    }
  }

  // Google Drive Icon box style //
  .ccpigd-icon-box {
    background: $ccpigd-bg;
    border: 1px solid $ccpigd-border;
    border-radius: $ccpigd-secondary-radius;
    padding: clamp(20px, 2.5vw, 30px);

    .ccpigd-box-icon {
      @extend .flex-center, .relative;
      width: clamp(60px, 10vw, 100px);
      aspect-ratio: 1 /1;
      margin: 0 auto;
      background: $ccpigd-bg;
      border-radius: $ccpigd-radius-full;
      border: 1px solid $ccpigd-border;
      margin-bottom: 20px;
      padding: clamp(15px, 1.8vw, 20px);

      img {
        width: 100%;
        max-width: 45px;
        z-index: 1;
        aspect-ratio: 1 / 1;
      }
    }

    h4 {
      color: $ccpigd-white;
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 0;
      color: $ccpigd-text;
    }
  }

  // Essential style end
}

.ccpigd-container {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 25px;

  &.ccpigd-small-width {
    max-width: 1130px;
  }
}

.ccpigd-title-tag {
  width: fit-content;
  margin-bottom: 20px;

  @include breakpoint(1024) {
    margin-bottom: 10px;
  }

  span {
    @include font(24, 30);
    font-weight: 600;
    color: $ccpigd-primary;
    text-transform: capitalize;
    margin: 0;

    @include breakpoint(1024) {
      @include font(20, 28);
    }
    @include breakpoint(575) {
      @include font(18, 26);
    }
  }
}

// Google Drive Header Style start //
.cc-google-drive-header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  left: 0;
  z-index: 13;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;

  &.sticky-bar {
    .cc-google-drive-main-header {
      backdrop-filter: blur(20px);
    }
  }

  &.sticky-hero {
    .cc-google-drive-main-header {
      background: $ccpigd-bg !important;
    }
  }

  @include breakpoint(768) {
    padding-top: 0;

    .ccpigd-container {
      padding: 0;
    }
  }

  .cc-google-drive-main-header {
    border: 1px solid $ccpigd-border;
    padding: 20px;
    border-radius: $ccpigd-primary-radius;

    @include breakpoint(768) {
      padding: 15px 25px;
      border-radius: $ccpigd-radius-zero;
    }

    .logos {
      gap: 18px;

      @include breakpoint(575) {
        gap: 12px;
      }

      .logo-divider {
        width: 1px;
        height: 22px;
        background: $ccpigd-white;
      }

      a {
        @include font(23, 27);
        font-weight: 500;

        img {
          width: 42px;
          aspect-ratio: 1 /1;
        }

        &.ccp-google-drive-logo {
          gap: 10px;

          @include minbreakpoint(769) {
            min-width: 260px;
          }

          .logo-label {
            span {
              color: $ccpigd-text;
              @include font(12, 16);
              font-weight: 400;
            }

            h6 {
              @include font(20, 22);
              background: radial-gradient(
                70.16% 212.6% at 29.84% -132.28%,
                #e1f2a6 0%,
                #15be7c 100%
              );

              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .menu-site {
      .main-header-menu {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 15px;

        @include breakpoint(1150) {
          gap: 10px;
        }

        .menu-item {
          list-style: none;

          a {
            font-family: $dms;
            padding: 5px;
            @include font(18, 26);
            font-weight: 400;
            color: $ccpigd-white;
            transition: all 0.3s ease;

            &:hover {
              color: $ccpigd-primary;
            }

            @include breakpoint(1150) {
              @include font(16, 24);
            }
          }

          &.current-menu-item {
            a {
              color: $ccpigd-primary;
            }
          }

          &.ccpigd-header-btn {
            padding: 0 0 0 10px;

            @include breakpoint(1024) {
              padding: 0;
            }

            a {
              @extend .transition, .relative, .flex-center;
              gap: 10px;
              color: $ccpigd-white !important;
              background: $ccpigd-primary;
              padding: 11px 22px;
              border: 1px solid transparent;
              border-radius: $ccpigd-secondary-radius;
              font-family: $dms;
              font-weight: 500;
              @include font(23, 34);

              @include breakpoint(1125) {
                padding: 8px 25px;
                @include font(18, 28);
              }

              &:before {
                // position: absolute;
                content: "";
                width: 24px;
                aspect-ratio: 1;
                mask: url(../images/google-drive/crown.svg);
                background: $ccpigd-white;
                @extend .transition, .mask-cover;

                @include breakpoint(1125) {
                  width: 20px;
                }
              }

              &:hover {
                background: $ccpigd-bg;
                color: $ccpigd-primary !important;
                border-color: $ccpigd-border;

                &:before {
                  background: $ccpigd-primary;
                }
              }
            }

            // &.current-menu-item {
            //     a {
            //         color: white;
            //     }
            // }
          }
        }
      }
    }
  }
}

// mobile menu style
@include breakpoint(1024) {
  .cc-google-drive-header {
    .cc-google-drive-main-header {
      .logo-site {
        width: 100%;
      }

      .hamburger-menu {
        background: transparent;
        width: 30px;
        height: 24px;
        gap: 7px;

        span {
          width: 100%;
          height: 3px;
          background: $ccpigd-primary;
          border-radius: $ccpigd-secondary-radius;
        }
      }

      .menu-site {
        position: absolute;
        background: #002003;
        width: 100%;
        max-width: 500px;
        right: -120%;
        padding: 0 25px 40px;
        top: -1px;
        height: 100vh;

        @include breakpoint(768) {
          width: calc(100% + 2px);
        }

        .mobile-menu-header {
          padding: 20px 0;

          .hamburger-menu {
            span {
              box-shadow: 0 0 3px 1px $ccpigd-border;
              position: absolute;
              background: $ccpigd-warning;

              &:nth-child(1) {
                transform: rotate(45deg);
              }

              &:nth-child(2) {
                transform: rotate(-45deg);
              }
            }
          }
        }

        .main-header-menu {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;

          .menu-item {
            &:not(:last-child) {
              width: 100% !important;
              border-bottom: 1px solid $ccpigd-border;

              a {
                padding: 10px 0 !important;
              }
            }

            &:last-child {
              margin-top: 40px;
              align-self: center;
            }

            a {
              display: block;
              color: $ccpigd-white;

              &:hover {
                color: $ccpigd-primary;
              }
            }

            &.current-menu-item {
              a {
                color: $ccpigd-primary;
              }
            }
          }
        }
      }
    }

    &.ccp-mobile-menu-active {
      .cc-google-drive-main-header {
        .menu-site {
          right: calc(0% - 2px);
        }
      }
    }
  }
}

// Hero Section style //
.ccpigd-hero-section {
  padding-bottom: 0;
  z-index: 1;
  margin-top: 0 !important;

  @include breakpoint(1024) {
    &::before {
      height: 30vh;
      filter: opacity(0.5);
    }
  }
  @include breakpoint(575) {
    &::before {
      height: 15vh;
    }
  }

  .ccpigd-hero-section-bg {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
  }

  .ccpigd-watermark-logo {
    width: 40%;
    max-width: 360px;
    z-index: -1;

    &.igd-wp {
      bottom: 260px;
      left: 0;
    }
    &.igd-gd {
      bottom: 60px;
      right: 0;
    }
  }

  .ccpigd-hero-content-box {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding-bottom: clamp(5px, 1.5vw, 20px);

    .ccpigd-hero-sub-title {
      width: fit-content;
      margin: 0 auto 30px;
      @include font(16, 22);
      color: $ccpigd-secondary;
      font-weight: 500;
      gap: 10px;
      padding: 10px 12px;
      background: $ccpigd-bg;
      border: 1px solid $ccpigd-border;
      border-radius: $ccpigd-secondary-radius;

      @include minbreakpoint(1024) {
        margin: 0 auto 20px;
      }

      img {
        max-width: 16px;
      }
    }
    h1 {
      margin-bottom: 30px;

      @include minbreakpoint(1024) {
        margin-bottom: 20px;
        padding: 0 10px;
        letter-spacing: -2px;
      }
    }
    .ccpigd-btn-group {
      padding-top: 20px;
    }
  }
  .ccpigd-hero-tab {
    @extend .relative;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    z-index: 3;

    .ccpigd-tab-header {
      padding-bottom: 30px;

      @include breakpoint(575) {
        display: none;
      }

      .buttons {
        gap: 30px 2px;

        button {
          background: transparent;
          width: 124px;
          padding: 0 10px;
          gap: 10px;
          @extend .relative;

          &:not(:last-child)::after {
            @extend .absolute;
            content: "";
            width: 2px;
            height: calc(100% - 10px);
            right: 0;
            top: 5px;
            background: linear-gradient(
              180deg,
              rgba(0, 172, 71, 0.05) 0%,
              rgba(0, 172, 71, 0.2) 50%,
              rgba(0, 172, 71, 0.05) 100%
            );
          }

          .button-icon {
            @extend .transition;
            width: clamp(30px, 3vw, 48px);
            aspect-ratio: 1;
            border: 1px solid $ccpigd-border;
            border-radius: $ccpigd-secondary-radius;
            background: radial-gradient(
              172.92% 172.92% at -38.54% -78.12%,
              rgba(0, 172, 71, 0.2) 0%,
              rgba(0, 172, 71, 0.05) 100%
            );

            img {
              width: clamp(18px, 2vw, 24px);
              aspect-ratio: 1;
            }
          }
          .button-text {
            @extend .transition;
            font-weight: 400;
            @include font(16, 20);
            color: $ccpigd-white;
          }
          &.active,
          &:hover {
            .button-icon {
              box-shadow: 0px 0px 0px 4px #00ac4799;

              @include breakpoint(1024) {
                box-shadow: 0px 0px 0px 2px #00ac4799;
              }
            }
            .button-text {
              color: $ccpigd-primary;
            }
          }
        }
      }
    }
    .ccpigd-tab-body {
      .ccpigd-tab-content {
        padding: clamp(12px, 1.6vw, 20px) clamp(12px, 1.6vw, 20px) 0;
        background: $ccpigd-bg;
        border: 2px solid $ccpigd-border;
        border-radius: clamp(12px, 2vw, 28px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        @extend .transition, .relative;

        &:after {
          position: absolute;
          content: "";
          width: calc(100% + 4px);
          height: 70%;
          bottom: -2px;
          left: -2px;
          background: linear-gradient(
            180deg,
            transparent 20%,
            rgba(0, 21, 13, 0.9333333333) 100%
          );
          z-index: 2;
          @extend .transition;
        }

        .tab-image-wrapper {
          grid-column: 1/2;
          grid-row: 1/2;
          opacity: 0;
          visibility: hidden;
          transition: all 0.7s ease-in-out;

          &.active {
            opacity: 1;
            visibility: visible;
          }

          img {
            width: 100%;
            border: 1px solid $ccpigd-border;
            border-radius: clamp(4px, 1vw, 16px);
            aspect-ratio: 16 / 9.6;
            object-fit: cover;
            object-position: center;
          }
        }
        &:hover {
          &::after {
            height: 16%;
          }
        }
      }
    }
  }
  &.ccpigd-home-hero {
    border-bottom: 2px solid $ccpigd-border;

    .ccpigd-hero-content-box {
      padding-bottom: clamp(50px, 4vw, 60px);

      h1 {
        font-size: clamp(36px, calc(18px + 3.7vw), 70px);
        line-height: clamp(44px, calc(28px + 3.7vw), 86px);
      }
    }
  }
}



.ccpigd-review-section {
  .ccpigd-reviews {
    padding-top: 15px;
    column-count: 3;
    text-align: center;

    @include breakpoint(1024) {
      column-count: 2;
    }

    @include breakpoint(575) {
      column-count: 1;
    }

    &.limited-reviews {
      column-count: inherit;
      @extend .d-grid;
      gap: 24px;
      align-items: baseline;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

      .ccpigd-review-item {
        max-width: unset;
        margin: 0;
      }
    }

    .ccpigd-review-item {
      display: inline-block;
      background: radial-gradient(
        60.69% 64.43% at 0% 100%,
        rgba(0, 172, 71, 0.2) 0%,
        rgba(0, 172, 71, 0.05) 100%
      );
      border: 1px solid $ccpigd-border;
      border-radius: $ccpigd-primary-radius;
      padding: 24px;
      margin: auto;
      margin-bottom: 24px;
      width: 100%;
      max-width: 424px;
      text-align: start;

      @include breakpoint(1024) {
        max-width: 496px;
      }

      @include breakpoint(768) {
        padding: 20px;
      }

      @include breakpoint(575) {
        max-width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 68px;
        height: 60px;
        top: 10px;
        right: 10px;
        background-image: url(../images/google-drive/gd-watermark-logo-2.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .review-ratting {
        gap: 5px;
        margin-bottom: 24px;

        @include breakpoint(1024) {
          margin-bottom: 16px;
        }

        @include breakpoint(768) {
          margin-bottom: 10px;
        }

        i {
          height: 30px;
          width: 30px;
          background: $ccpigd-primary;
          clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
        }
      }
      P {
        @include font(16, 24);
        font-weight: 500;
      }
      .client-bio {
        padding-top: 5px;
        gap: 10px;

        @include breakpoint(768) {
          padding-top: 0;
        }

        .client-photo {
          img {
            width: 100%;
            max-width: 50px;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center;
            border: 1px solid $ccpigd-primary;
            border-radius: 8px;
          }
        }
        .client-info {
          gap: 5px;
          text-transform: capitalize;

          .name {
            @include font(18, 18);
            font-weight: 600;
            color: $ccpigd-white;
          }
          .title {
            @include font(14, 14);
            font-weight: 400;
            color: #a8b9b1;
          }
        }
      }
    }
  }
  .ccpigd-btn-group {
    padding-top: clamp(20px, 2.5vw, 30px);
  }
}

.ccpigd-authorities-message {
  background: $ccpigd-bg;
  padding: clamp(30px, 4vw, 60px) 0;

  .message {
    padding-bottom: clamp(10px, 1.5vw, 20px);

    p {
      font-size: clamp(20px, 2.5vw, 30px);
      line-height: 160%;
      color: #CFE3DA;
    }
  }
  .authorities-box {
    gap: 20px;

    @include breakpoint(575) {
      gap: 10px;
    }
    .photo {
      img {
        width: 100%;
        max-width: clamp(70px, 8vw, 90px);
        aspect-ratio: 1 / 1;
        border-radius: $ccpigd-radius-full;
        border: 1px solid $ccpigd-primary;
      }
    }
    .info {
      gap: clamp(8px, 1vw, 12px);
      color: $ccpigd-white;

      span {
        margin: 0;

        &.name {
          font-size: clamp(22px, 3vw, 34px);
          line-height: 100%;
          font-family: "Square Peg";
        }
        &.title {
          @include font(16, 16);
        }
      }
    }
  }
}



.ccpigd-information-faq {
  background: linear-gradient(
    180deg,
    rgba(0, 172, 71, 0.05) 0%,
    rgba(0, 172, 71, 0) 100%
  );
  padding: clamp(30px, 4vw, 60px) 0;
}

// Faq Section Global
.ccpigd-faq-wrapper {
  gap: clamp(10px, 2vw, 24px);
  padding-top: clamp(10px, 1.5vw, 20px);

  .ccpigd-faq-item {
    border: 1px solid $ccpigd-border;
    background: $ccpigd-bg;
    border-radius: $ccpigd-primary-radius;

    .ccpigd-faq-question {
      padding: clamp(20px, 2.2vw, 24px);
      grid-template-columns: 1fr 30px;
      background: transparent;
      width: 100%;
      text-align: left;

      h4 {
        font-size: clamp(16px, 2vw, 22px);
        line-height: clamp(20px, 2.4vw, 26px);
        font-weight: 500;

        span {
          color: $ccpigd-primary;
          padding-right: 8px;
          font-weight: 700;

          @include breakpoint(768) {
            padding-right: 5px;
          }
        }
      }
      .ccpigd-dropdown-arrow {
        @extend .flex-center, .relative, .transition;
        justify-self: end;
        width: 20px;
        aspect-ratio: 1 / 1;
        cursor: pointer;

        &::after,
        &::before {
          background: $ccpigd-secondary;
          content: "";
          width: 2px;
          height: 12px;
          position: absolute;
          border-radius: 5px;
          @extend .absolute, .transition;
        }

        &::before {
          right: 5px;
          transform: rotate(45deg);
        }

        &::after {
          left: 5px;
          transform: rotate(-45deg);
        }
      }
    }

    .ccpigd-faq-answer {
      color: #CFE3DA;
      padding: clamp(20px, 2.2vw, 24px);
      padding-top: 0;

      p {
        font-size: clamp(16px, 1.7vw, 18px);
        line-height: 160%;
      }

      ul,
      ol {
        padding: 10px 0 10px clamp(30px, 3.5vw, 40px);
        color: currentColor;
      }

      a {
        color: currentColor;
        text-decoration: underline;
        @extend .transition;

        &:hover {
          color: $ccpigd-primary;
        }
      }
    }

    &.open-body {
      .ccpigd-dropdown-arrow {
        &::after,
        &::before {
          background: $ccpigd-primary;
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
}

// Animation Keyframes for Banner Particles start //
.ccpigd-bg-particle-wrapper {
  width: 80%;
  height: 160px;
  @extend .d-flex, .flex-col;
  gap: clamp(20px, 3vw, 40px);
  top: 140px;
  z-index: -1;

  &.left {
    left: -80px;
    transform-origin: left;
    transform: rotate(45deg);

    .bg-particle {
      &::after {
        left: 0;
        animation: particle-move-down-left 5s linear infinite;
        animation-duration: var(--duration);
        animation-delay: var(--delay);
      }
    }
  }
  &.right {
    right: -80px;
    transform-origin: right;
    transform: rotate(-45deg);

    .bg-particle {
      &::after {
        right: 0;
        animation: particle-move-down-right 5s linear infinite;
        animation-duration: var(--duration);
        animation-delay: var(--delay);
      }
    }
  }
  .bg-particle {
    width: 100%;
    padding: 0.5px;
    background: $ccpigd-border;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      top: -1px;
      background-image: url(../images/google-drive/animation-indicator.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes particle-move-down-left {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}
@keyframes particle-move-down-right {
  0% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}
// Animation Keyframes for Banner Particles end

// Google drive footer CTA style
.ccpigd-footer-cta {
  .ccpigd-container {
    .ccpigd-footer-cta-wrapper {
      padding: clamp(30px, 5vw, 80px);
      border: 1px solid $ccpigd-border;
      border-radius: $ccpigd-primary-radius;
      background-color: #00AC470D;
      background-image: url(../images/google-drive/igd-cta-bg.svg);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 21, 13, 0.2) 0%, #00150D 100%);
      }

      .section-title-box {
        @extend .relative;
        z-index: 1;
        width: 100%;
        max-width: 890px;

        h3 {
          font-size: clamp(24px, 3vw, 44px);
          line-height: 120%;
        }
      }

      .ccpigd-btn-group {
        margin: 0 auto;
      }
    }
  }
}

// Google Drive Footer Style start //
.ccpigd-footer {
  background: unset;

  .footer-bottom {
    background: $ccpigd-bg;
    border-top: 1px solid $ccpigd-border;
    padding: clamp(30px, 4vw, 50px) 0 50px;

    &::before,
    &::after {
      display: none;
    }

    .left-side {
      @include minbreakpoint(1201) {
        width: 26%;
      }

      .logos {
        gap: 10px;
        padding-bottom: clamp(10px, 1.5vw, 30px);

        @include breakpoint(1024) {
          justify-content: center;
          border-bottom: 1px solid $ccpigd-border;
        }

        a {
          img {
            width: 100%;
            max-width: 44px;
            aspect-ratio: 1;
          }

          &.ccp-google-drive-logo {
            gap: 10px;

            .logo-label {
              text-align: start;

              span {
                color: rgba(240, 255, 246, 0.6980392157);
                @include font(12, 16);
                font-weight: 400;
              }
              h6 {
                @include font(20, 22);
                background: radial-gradient(
                  70.16% 212.6% at 29.84% -132.28%,
                  #e1f2a6 0%,
                  #15be7c 100%
                );
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
        .logo-divider {
          width: 2px;
          height: 30px;
          background: $ccpigd-border;
        }
      }
    }

    .right-side {
      @include minbreakpoint(1201) {
        width: 66%;
      }

      @include breakpoint(1024) {
        flex-wrap: wrap;
        row-gap: 30px;
      }

      @include breakpoint(768) {
        row-gap: 20px;
      }
      @include breakpoint(575) {
        row-gap: 10px;
      }
    }

    .footer-description {
      gap: 24px;

      @include breakpoint(1024) {
        width: 100%;
        align-items: center;
      }

      .description {
        width: 100%;
        border-bottom: 1px solid $ccpigd-border;

        @include minbreakpoint(1025) {
          max-width: 330px;
        }

        p {
          @include font(16, 26);
          color: $ccpigd-white;

          @include breakpoint(1024) {
            text-align: center;
          }
        }
      }
      .ratting-status {
        span {
          @insclude font(16, 16);
          color: $ccpigd-white;
          text-transform: capitalize;
          padding: 15px 20px;
          border: 1px solid $ccpigd-border;
          border-radius: $ccpigd-secondary-radius;
          gap: 5px;

          &::before {
            content: "";
            width: 16px;
            height: 16px;
            mask: url(../images/google-drive/wordpress.svg);
            mask-size: contain;
            mask-position: center;
            mask-repeat: no-repeat;
            background-color: $ccpigd-white;
          }
        }
      }
    }

    .footer-menu {

      @include breakpoint(575) {
        padding-top: 20px !important;
      }
      h2 {
        color: #fff;
      }

      ul {
        li {
          margin-bottom: clamp(8px, 1.2vw, 16px);

          a {
            color: #ffffff;
            @include font(16, 16);
            padding-bottom: 0;

            &::after {
              background: $ccpigd-primary !important;
            }

            span {
              color: #ffffff;
            }
          }
        }
      }

      &.cc-products-menu {
        padding-bottom: 0 !important;
        ul {
          li {
            margin-bottom: clamp(16px, 1.8vw, 20px);
            a {
              @include font(20, 22);
              color: #ffffff;
              text-align: start;
            }
          }
        }
      }

      &.footer-menu-tab-mobile {
        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }

  .copyright {
    .cc-scroll-top-btn {
      background: #001b0e;
      border: 1px solid $ccpigd-border;
      box-shadow: 0px 4px 20px 0px $ccpigd-border;

      &:hover {
        border: 1px solid $ccpigd-primary;
      }

      .scroll-top-btn-icon {
        background-color: $ccpigd-primary;
      }
    }

    .copyright-payment {
      border-color: $ccpigd-border;
      padding: 24px 0;

      h5,
      p {
        color: $ccpigd-white;
        a {
          color: $ccpigd-primary;
        }
      }
      .payment-method {
        p {
          color: $ccpigd-white;
        }
      }
    }
  }
}

// Free Download popup style start
.ccpigd-download-popup-section {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  padding: 0 25px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.76);

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .ccpigd-download-popup {
    width: 100%;
    max-width: 900px;
    padding: clamp(20px, 3vw, 40px);
    background: rgb(0 172 71 / 5%);
    backdrop-filter: blur(100px);
    border: 1px solid $ccpigd-border;
    border-radius: 28px;
    box-shadow: 5px 0 20px 10px #00AC470D;

    .ccpigd-download-popup-content {
      width: 100%;
      max-width: 580px;
      margin: 0 auto;

      @include breakpoint(575) {
        h3,
        h4,
        p {
          margin-bottom: 10px;
        }
      }

      .free-downolad-form {
        text-align: start;
        p {
          width: 100%;
          margin: 0;
        }

        span {
          width: 100%;
          color: $ccpigd-white;
          @include font(16, 24);

          @include breakpoint(768) {
            @include font(14, 20);
          }
        }

        label {
          display: block;
          margin-bottom: clamp(20px, 2.5vw, 30px);

          &:has(input[type="checkbox"]) {
            @extend .d-flex;
            align-items: start;
            gap: 10px;
          }
        }

        input[type="email"] {
          width: 100%;
          background: #00ac470d;
          border: 1px solid $ccpigd-border;
          border-radius: $ccpigd-secondary-radius;
          padding: clamp(8px, 1.1vw, 14px) clamp(10px, 1.5vw, 20px);
          color: $ccpigd-white;
          font-size: clamp(12px, 1.5vw, 18px);
          line-height: 100%;
          margin-bottom: clamp(20px, 2.5vw, 30px);

          &::placeholder {
            color: $ccpigd-text;
          }
        }

        input[type="checkbox"] {
          width: clamp(16px, 2vw, 24px);
          aspect-ratio: 1 / 1;
          border-radius: 4px;
          position: relative;
          margin-top: 5px;
        }

        input[type="submit"] {
          background: $ccpigd-primary;
          border: 1px solid $ccpigd-primary;
          border-radius: $ccpigd-secondary-radius;
          padding: clamp(12px, 1.4vw, 18px) clamp(20px, 2.5vw, 30px);
          color: $ccpigd-white;
          font-size: clamp(14px, 1.7vw, 20px);
          line-height: 100%;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background: $ccpigd-bg;
            color: $ccpigd-primary;
            border: 1px solid $ccpigd-primary;
          }
        }
        .wpcf7-spinner {
          display: none;
        }
        .wpcf7-response-output {
          color: $ccpigd-white;
          @include font(16, 24);
        }

        .field-btn {
          width: fit-content;
          margin: auto;
        }
      }

    }
    .ccpigd-popup-close {
      cursor: pointer;
      top: clamp(10px, 1.7vw, 25px);
      right: clamp(10px, 1.7vw, 25px);
      background: transparent;
      height: 20px;
      aspect-ratio: 1 / 1;

      &::before,
      &::after {
        @extend .absolute, .transition;
        content: "";
        height: 2px;
        width: 100%;
        border: 5px;
        background: #FF0005;

      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      &:hover {
        &::before,
        &::after {
        box-shadow: 0px 0px 4px 1px #ffffff;
        }
      }
    }
  }
}

// Google drive single feature page style start //
.ccpigd-single-feature-section {
  .ccpigd-row {
    column-gap: 22px;
    row-gap: 30px;
    padding-bottom: clamp(40px, 5vw, 80px);
    border-bottom: 2px solid $ccpigd-border;

    @include breakpoint(1024) {
      flex-wrap: wrap;
    }

    .content-box {
      width: 50%;

      @include breakpoint(1024) {
        width: 100%;
        text-align: center;
      }

      .ccpigd-hero-sub-title {
        
        @include minbreakpoint(1025){
          margin-left: 0;
        }
      }
      .ccpigd-btn-group {
        @include minbreakpoint(1025){
          justify-content: flex-start;
        }
      }
    }
    .image-box {
      width: 50%;

      @include breakpoint(1024) {
        width: 100%;
      }

      img {
        border-radius: clamp(6px, 1vw, 16px);
      }
    }
  }
}
.ccpigd-demo-feature {
  .demo-feature-list {
    gap: clamp(20px, 3vw, 35px);

    .demo-feature-item {
      width: 100%;
      padding: clamp(20px, 3vw, 40px);
      background: $ccpigd-bg;
      border: 1px solid $ccpigd-border;
      border-radius: clamp(10px, 2vw, 28px);

      .demo-feature-shortcode {
        margin-top: clamp(20px, 3.5vw, 50px);
        padding: clamp(20px, 2.2vw, 24px);
        background: #00150D;
        border: 1px solid $ccpigd-border;
        border-radius: clamp(4px, 1vw, 16px);

        .igd-feature-content {
          color: $ccpigd-text;
          
          ul,
          ol {
            color: currentColor;
            padding: 10px 0 10px clamp(30px, 3.5vw, 40px);
          }
          a {
            @extend .transition;
            color: currentColor;
            text-decoration: underline;
            
            &:hover {
              color: $ccpigd-primary;
            }
          }
        }
      }
    }
  }
}