@use '../partials/index' as *;
@use '../partials/typography' as *;



// Variables for Google Drive Product
$ccpigd-primary: #00ac47;
$ccpigd-secondary: #e1f2a6;
$ccpigd-white: #ffffff;
$ccpigd-black: #000000;
$ccpigd-text: #f0fff6b2;
$ccpigd-bg: #00ac470d;
$ccpigd-border: #00ac4733;
$ccpigd-warning: #ff1200;
$ccpigd-common-gradient: linear-gradient(7deg, #00ac47, #e1f2a6);
$ccpigd-primary-radius: 16px;
$ccpigd-secondary-radius: 12px;
$ccpigd-radius-full: 100%;
$ccpigd-radius-zero: 0;
$dms: "DM Sans", sans-serif;
$sp: "Square Peg", sans-serif;

body { 
    // when uplad in theme it will nesting by template name 
    background: #00130b;
    font-family: $dms;
}

.ccpigd-section {
  margin: 80px 0;

  @include breakpoint(1024) {
    margin: 60px 0;
  }

  @include breakpoint(768) {
    margin: 50px 0;
  }

  p {
    font-size: 16px;
    line-height: 160%;
    color: $ccpigd-text;
    font-family: $dms;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ccpigd-white;
    font-family: $dms;
  }

  span,
  li,
  ol,
  a,
  button,
  input,
  textarea,
  th,
  td {
    font-family: $dms;
  }

  h1,
  h2 {
    font-size: clamp(30px, 4vw, 54px);
    line-height: clamp(40px, 4.8vw, 65px);
    text-transform: capitalize;
  }

  h3 {
    font-size: clamp(26px, 3.5vw, 44px);
    line-height: clamp(36px, 4.4vw, 54px);
  }

  h4 {
    font-size: clamp(24px, 3vw, 34px);
    line-height: clamp(34px, 4.45vw, 54px);
  }

  h5 {
    font-size: clamp(18px, 2vw, 24px);
    line-height: clamp(24px, 2.5vw, 32px);
  }

  .section-title-box {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-bottom: 20px;

    h1,
    h2,
    h3 {
      span {
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: $ccpigd-common-gradient;
        display: inline-block;
      }
    }

    @include breakpoint(768) {
      padding-bottom: 0;
    }

    p {
      @include font(18, 30);
      color: #EAFFF7;

      @include breakpoint(575) {
        @include font(16, 26);
      }
    }
  }

  .feature-content {
    margin-bottom: 20px;
    
    @include breakpoint(575) {
      margin-bottom: 10px;
    }

    h2,
    h3 {
      font-weight: 600;

      @include breakpoint(575) {
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 20px;

      @include breakpoint(575) {
        margin-bottom: 10px;
      }
    }
    ul,
    ol {
      margin-bottom: 40px;

      @include breakpoint(1024) {
        margin-bottom: 30px;
      }

      @include breakpoint(575) {
        margin-bottom: 20px;
      }
    }

    ul {
      @extend .d-flex, .flex-wrap;
      gap: 12px 8px;

      @include breakpoint(768) {
        justify-content: center;
      }

      li {
        font-size: clamp(13px, 1.5vw, 16px);
        line-height: 100%;
        font-weight: 400;
        color: $ccpigd-white;
      }
    }
  }

  &.ccpigd-section-top {
    padding-top: calc(var(--header-height, 200px) + 50px) !important;

    @include breakpoint(1024) {
      padding-top: calc(var(--header-height, 200px) + 30px) !important;
    }
    &.cc-user-logged-in {
      @include breakpoint(1024) {
        padding-top: calc(var(--header-height, 200px) + 10px) !important;
      }
    }
  }

  // Video iframe style  //
  p:has(iframe) {
    width: 100%;
    position: relative;
    padding-bottom: 56%;
    padding-top: 15px;
    height: 0;
    border-radius: 10px;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 12px;
    }
  }

  // Google Drive button style //
  .ccpigd-btn-group {
    @extend .flex-center, .flex-wrap, .relative;
    gap: 15px 10px;
    z-index: 2;

    @include breakpoint(575) {
      flex-direction: column;
    }
  }
  .ccpigd-btn {
    @extend .flex-center, .transition;
    font-size: clamp(16px, 1.8vw, 20px);
    line-height: 100%;
    font-weight: 500;
    padding: 16px 30px;
    gap: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: $ccpigd-secondary-radius;

    @include breakpoint(1024) {
      padding: 14px 24px;
    }

    @include breakpoint(575) {
      padding: 15px 10px;
      width: 80%;
    }

    &.icon-right {
      flex-direction: row-reverse;
    }

    &.icon {
      @extend .relative;

      &::before {
        content: "";
        width: 18px;
        aspect-ratio: 1;
        @extend .mask-cover, .transition;
      }
    }
    &.icon-wordpress {
      &::before {
        mask: url("../images/google-drive/wordpress.svg");
      }
    }
    &.icon-crown {
      &::before {
        mask: url("../images/google-drive/crown.svg");
      }
    }
    &.icon-shapes {
      &::before {
        mask: url("../images/google-drive/shapes.svg");
      }
    }

    &.primary {
      color: $ccpigd-white;
      background: $ccpigd-primary;
      border-color: $ccpigd-primary;

      &::before {
        background-color: $ccpigd-white;
      }

      &:hover {
        color: $ccpigd-primary;
        background: $ccpigd-bg;
        border-color: $ccpigd-border;

        &::before {
          background-color: $ccpigd-primary;
        }
      }
    }
    &.secondary {
      color: $ccpigd-primary;
      background: $ccpigd-bg;
      border-color: $ccpigd-border;

      &::before {
        background-color: $ccpigd-primary;
      }

      &:hover {
        color: $ccpigd-white;
        background: $ccpigd-primary;
        border-color: $ccpigd-primary;

        &::before {
          background-color: $ccpigd-white;
        }
      }
    }
    &.white {
      color: $ccpigd-white;
      &::before {
        background-color: $ccpigd-white;
      }
    }
  }

  // Google Drive List mark style //
  .ccpigd-list-mark {
    ul {
      padding: 0;

      li {
        list-style: none;
        @extend .flex-center, .relative;
        gap: 6px;
        padding: 8px 10px;
        background: $ccpigd-bg;
        border: 1px solid $ccpigd-border;
        border-radius: $ccpigd-secondary-radius;

        &:before {
          content: "";
          width: 14px;
          height: 14px;
          mask: url(../images/google-drive/ccpigd-list-mark.svg);
          mask-size: cover;
          mask-repeat: no-repeat;
          mask-position: center;
          background: $ccpigd-white;
        }
      }
    }
  }

  // Google Drive Icon box style //
  .ccpigd-icon-box {
    background: $ccpigd-bg;
    border: 1px solid $ccpigd-border;
    border-radius: $ccpigd-secondary-radius;
    padding: clamp(20px, 2.5vw, 30px);

    .ccpigd-box-icon {
      @extend .flex-center, .relative;
      width: clamp(60px, 10vw, 100px);
      aspect-ratio: 1 /1;
      margin: 0 auto;
      background: $ccpigd-bg;
      border-radius: $ccpigd-radius-full;
      border: 1px solid $ccpigd-border;
      margin-bottom: 20px;
      padding: clamp(15px, 1.8vw, 20px);

      img {
        width: 100%;
        max-width: 45px;
        z-index: 1;
        aspect-ratio: 1 / 1;
      }
    }

    h4 {
      color: $ccpigd-white;
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 0;
      color: $ccpigd-text;
    }
  }

  // Essential style end
}

.ccpigd-container {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 25px;

  &.ccpigd-small-width {
    max-width: 1130px;
  }
}

.ccpigd-title-tag {
  width: fit-content;
  margin-bottom: 20px;

  @include breakpoint(1024) {
    margin-bottom: 10px;
  }

  span {
    @include font(24, 30);
    font-weight: 600;
    color: $ccpigd-primary;
    text-transform: capitalize;
    margin: 0;

    @include breakpoint(1024) {
      @include font(20, 28);
    }
    @include breakpoint(575) {
      @include font(18, 26);
    }
  }
}

// Google Drive Header Style start //
.cc-google-drive-header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  left: 0;
  z-index: 13;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;

  &.sticky-bar {
    .cc-google-drive-main-header {
      backdrop-filter: blur(20px);
    }
  }

  &.sticky-hero {
    .cc-google-drive-main-header {
      background: $ccpigd-bg !important;
    }
  }

  @include breakpoint(768) {
    padding-top: 0;

    .ccpigd-container {
      padding: 0;
    }
  }

  .cc-google-drive-main-header {
    border: 1px solid $ccpigd-border;
    padding: 20px;
    border-radius: $ccpigd-primary-radius;

    @include breakpoint(768) {
      padding: 15px 25px;
      border-radius: $ccpigd-radius-zero;
    }

    .logos {
      gap: 18px;

      @include breakpoint(575) {
        gap: 12px;
      }

      .logo-divider {
        width: 1px;
        height: 22px;
        background: $ccpigd-white;
      }

      a {
        @include font(23, 27);
        font-weight: 500;

        img {
          width: 42px;
          aspect-ratio: 1 /1;
        }

        &.ccp-google-drive-logo {
          gap: 10px;

          @include minbreakpoint(769) {
            min-width: 260px;
          }

          .logo-label {
            span {
              color: $ccpigd-text;
              @include font(12, 16);
              font-weight: 400;
            }

            h6 {
              @include font(20, 22);
              background: radial-gradient(
                70.16% 212.6% at 29.84% -132.28%,
                #e1f2a6 0%,
                #15be7c 100%
              );

              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .menu-site {
      .main-header-menu {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 15px;

        @include breakpoint(1150) {
          gap: 10px;
        }

        .menu-item {
          list-style: none;

          a {
            font-family: $dms;
            padding: 5px;
            @include font(18, 26);
            font-weight: 400;
            color: $ccpigd-white;
            transition: all 0.3s ease;

            &:hover {
              color: $ccpigd-primary;
            }

            @include breakpoint(1150) {
              @include font(16, 24);
            }
          }

          &.current-menu-item {
            a {
              color: $ccpigd-primary;
            }
          }

          &.ccpigd-header-btn {
            padding: 0 0 0 10px;

            @include breakpoint(1024) {
              padding: 0;
            }

            a {
              @extend .transition, .relative, .flex-center;
              gap: 10px;
              color: $ccpigd-white !important;
              background: $ccpigd-primary;
              padding: 11px 22px;
              border: 1px solid transparent;
              border-radius: $ccpigd-secondary-radius;
              font-family: $dms;
              font-weight: 500;
              @include font(23, 34);

              @include breakpoint(1125) {
                padding: 8px 25px;
                @include font(18, 28);
              }

              &:before {
                // position: absolute;
                content: "";
                width: 24px;
                aspect-ratio: 1;
                mask: url(../images/google-drive/crown.svg);
                background: $ccpigd-white;
                @extend .transition, .mask-cover;

                @include breakpoint(1125) {
                  width: 20px;
                }
              }

              &:hover {
                background: $ccpigd-bg;
                color: $ccpigd-primary !important;
                border-color: $ccpigd-border;

                &:before {
                  background: $ccpigd-primary;
                }
              }
            }

            // &.current-menu-item {
            //     a {
            //         color: white;
            //     }
            // }
          }
        }
      }
    }
  }
}

// mobile menu style
@include breakpoint(1024) {
  .cc-google-drive-header {
    .cc-google-drive-main-header {
      .logo-site {
        width: 100%;
      }

      .hamburger-menu {
        background: transparent;
        width: 30px;
        height: 24px;
        gap: 7px;

        span {
          width: 100%;
          height: 3px;
          background: $ccpigd-primary;
          border-radius: $ccpigd-secondary-radius;
        }
      }

      .menu-site {
        position: absolute;
        background: #002003;
        width: 100%;
        max-width: 500px;
        right: -120%;
        padding: 0 25px 40px;
        top: -1px;
        height: 100vh;

        @include breakpoint(768) {
          width: calc(100% + 2px);
        }

        .mobile-menu-header {
          padding: 20px 0;

          .hamburger-menu {
            span {
              box-shadow: 0 0 3px 1px $ccpigd-border;
              position: absolute;
              background: $ccpigd-warning;

              &:nth-child(1) {
                transform: rotate(45deg);
              }

              &:nth-child(2) {
                transform: rotate(-45deg);
              }
            }
          }
        }

        .main-header-menu {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;

          .menu-item {
            &:not(:last-child) {
              width: 100% !important;
              border-bottom: 1px solid $ccpigd-border;

              a {
                padding: 10px 0 !important;
              }
            }

            &:last-child {
              margin-top: 40px;
              align-self: center;
            }

            a {
              display: block;
              color: $ccpigd-white;

              &:hover {
                color: $ccpigd-primary;
              }
            }

            &.current-menu-item {
              a {
                color: $ccpigd-primary;
              }
            }
          }
        }
      }
    }

    &.ccp-mobile-menu-active {
      .cc-google-drive-main-header {
        .menu-site {
          right: calc(0% - 2px);
        }
      }
    }
  }
}