@use "./globals/index" as *;

/*==============================================
* Common css START
================================================ */

// FREE PRODUCT DOWNLOADS POPUP STYLE GLOBAL
//  start
.ccp-download-popup-section {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(17, 0, 0, 0.2);
  padding: 0 25px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .ccp-download-popup {
    width: 100%;
    max-width: 900px;
    padding: clamp(20px, 3vw, 40px);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 20px 0 rgba(195, 218, 255, 1);
    border-radius: clamp(8px, 1.8vw, 28px);

    .ccp-download-popup-content {
      width: 100%;
      max-width: 580px;
      margin: 0 auto;

      h3 {
        font-size: clamp(24px, 3.4vw, 44px);
        line-height: 120%;
      }

      h3,
      h4 {
        font-family: $dms;
        color: #000e25;

        @include breakpoint(575) {
          margin-bottom: 10px;
        }
      }
      p {
        font-family: $dms;
        color: #3c4770;

        @include breakpoint(575) {
          margin-bottom: 10px;
        }
      }

      .free-downolad-form {
        text-align: start;
        p {
          width: 100%;
          margin: 0;
        }

        span {
          width: 100%;
          color: #000e25;
          @include font(16, 24);

          @include breakpoint(768) {
            @include font(14, 20);
          }
        }

        label {
          display: block;
          margin-bottom: clamp(20px, 2.5vw, 30px);

          &:has(input[type="checkbox"]) {
            @extend .d-flex;
            align-items: start;
            gap: 10px;
          }
        }

        input[type="email"],
        input[type="text"],
        textarea {
          width: 100%;
          background: #fff;
          border: 1px solid #85b3ff;
          border-radius: clamp(5px, 0.8vw, 12px);
          padding: clamp(8px, 1.1vw, 14px) clamp(10px, 1.5vw, 20px);
          color: #0061fe;
          font-size: clamp(12px, 1.5vw, 18px);
          font-family: $dms;
          line-height: 100%;

          &::placeholder {
            color: #85b3ff;
          }
        }

        input[type="checkbox"] {
          width: clamp(16px, 2vw, 24px);
          aspect-ratio: 1 / 1;
          border-radius: 4px;
          position: relative;
          margin-top: 5px;
        }
        p:has(input[type="submit"]) {
          text-align: center;
        }

        input[type="submit"] {
          background: #0061fe;
          border: 1px solid #0061fe;
          border-radius: 8px;
          padding: clamp(12px, 1.4vw, 18px) clamp(20px, 2.5vw, 30px);
          color: #fff;
          font-family: $dms;
          font-size: clamp(14px, 1.7vw, 20px);
          line-height: 100%;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background: #fff;
            color: #0061fe;
          }
        }
        .wpcf7-spinner {
          display: none;
        }
        .wpcf7-response-output {
          color: #0061fe;
          @include font(16, 24);
        }

        .field-btn {
          width: fit-content;
          margin: auto;
        }
      }
    }
    .ccp-popup-close {
      cursor: pointer;
      top: clamp(10px, 1.7vw, 25px);
      right: clamp(10px, 1.7vw, 25px);
      background: transparent;
      height: 20px;
      aspect-ratio: 1 / 1;

      &::before,
      &::after {
        @extend .absolute, .transition;
        content: "";
        height: 2px;
        width: 100%;
        border: 5px;
        background: #ff0005;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      &:hover {
        &::before,
        &::after {
          box-shadow: 0px 0px 2px 1px #0061fe;
        }
      }
    }
  }
}
// end