// Variable start
$primary: #0061fe;
$secondary: #000d23;
$body: #3c4770;
$border-color: #e0f5ff;
$text: #3c4770;
$sec-white: #F6FCFF;
$pop: "Poppins", sans-serif;
$rob: "Roboto", sans-serif;
$dms: "DM Sans", sans-serif;
// Variable end